body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    margin: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 10px;
}
h1{
    color: #FE9B00;
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
        gap: 3vw;
    }

    .left, .right {
        width: 50%;
    }

    button {
        width: auto;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 40px;
    }

    label, input, select, button {
        font-size: 1.2rem;
    }
}
