@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* navbar styling */

.navbar {
  font-family: "Unbounded", cursive;
  background-color: #850000;
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 200px;
  object-fit: cover;
  margin-left: 4rem;
}
.navbar .nav-img{
    width: 150px;
    object-fit: cover;
  margin-right: 4rem;
}

.head{
    padding: 1rem;
}

.head h4{
    
    color: white;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 2.6em;
}
.head p{
    text-align: center;
    color: white;
    font-size: 0.8em;
    letter-spacing: 1.5px;
}


/* main body styling  */
.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainLeft{
    width: 1020px;
    height: 650px;
    overflow: hidden;
    margin-top: 100px;
}


.mainCenter{
    width: 100%;

    margin-bottom: 10px;
}
.mainCenter h1{
    margin-top: 10px;
    text-align: center;
}

.boxMain{
    margin: 0px 25px;
}



.parentBox{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    border-radius: 10px;
    background-color: #dff2fe;
    display: inline-flex;
    min-width: 450px;
    color: #5e7f96;
    height: 60px;
    box-shadow:6px 6px #9dd6fd;
}

.box a {
    padding:1rem;
    color: rgb(239, 80, 80);
    text-decoration: none;
    font-weight: bolder
}

.box span{
    margin-top: 12px;
    margin-left: 5px;
}

.heading{
    color: #3379b7d9;

    
}

.heading2{
  margin-top: 30px;
  margin-bottom: 50px ;
  display: flex;
  justify-content: space-evenly;
  h3{
    /* border: 2px solid red; */
    background-color: #850000;
    width: 220px;
  letter-spacing: 1px;
  border-radius: 4px;
    a{

        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
    }
}

}
footer{
    background-color: #850000;
    color: white;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer p{
    text-align: center;
}

.gallery{
    text-align: center;
    margin-top: 10px;
}

.carousel{
    margin-top: 10px;
    padding: 2rem;
}

/* responsive css */



@media (min-width: 345px) and (max-width:369px) {
   
    .navbar{
        .ipulogo img {
            display: none;
        }
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap !important;
        
        .iitmlogo{
            margin-left: -30px;
            img{
                width: 115px;
            }
        }
        .head{
            h4{
                font-size: 1.14999rem;
            }
            p{
                display: none;
            }
        }
    }

    .main{
        width: 100%;

.heading{
    margin-bottom: 20px;
    h1{
        font-size: 1.7em;
    }
    .heading2{
      text-align: center;
      
    
      h3{
        width: 150px;
        margin-bottom: 0rem;
      }
    }
     
}

        .boxMain{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            .parentBox{
                display: flex;
                flex-direction: column;
                margin-top: 0px;

                .leftside{
                    margin-right: 0px;

                }
                .box{
                    margin-bottom: 20px;
                    min-width: 100%;

                    a{
                        padding: 0.5rem;
                        font-size: .9em;
                    }
                }
            }

        }
    }

    .mainLeft{
        width: 100%;
        height: auto;
    }
}

@media (min-width: 370px) and (max-width:731px){
   
    .navbar{
        .ipulogo img {
            display: none;
        }
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap !important;
        
        .iitmlogo{
            margin-left: -30px;
            img{
                width: 115px;
            }
        }
        .head{
            h4{
                font-size: 1.14999rem;
            }
            p{
                display: none;
            }
        }
    }

    .main{
        width: 100%;

.heading{
    margin-bottom: 20px;
    h1{
        font-size: 1.7em;
    }
}
.heading2{
  text-align: center;
  

  h3{
    width: 150px;
    margin-bottom: 0rem;
  }
 
}
        .boxMain{
            display: flex;
            justify-content: center;
            flex-direction: column;
            /* width: 100%; */

            .parentBox{
                display: flex;
                flex-direction: column;
                margin-top: 0px;

                .leftside{
                    margin-right: 0px;

                }
                .box{
                    margin-bottom: 20px;
                    min-width: 100%;

                    a{
                        padding: 0.5rem;
                        font-size: .9em;
                    }
                }
            }

        }
    }

    .mainLeft{
        width: 100%;
        height: auto;
    }
}

@media (min-width: 732px)and (max-width:1200px){
    .navbar{
        
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap !important;
        
        .iitmlogo{
            img{
                width: 120px;
            }
        }
        .ipulogo{
            img{
                width: 110px;
                display:flex;
            }
        }
        .head{
            h4{
                font-size: 1.8rem;
                font-weight: bolder;
            }
            p{
                font-size: .65em;
                font-weight: bolder;
            }
        }
    }

    .main{
        width: 100%;

        .heading{
            margin-bottom: 20px;
            h1{
                font-size: 1.8em;
            }
        }

        .boxMain{
            display: flex;
            justify-content: center;
            flex-direction: column;
            /* width: 100%; */

            .parentBox{
                display: flex;
                flex-direction: row;
                margin-top: 0px;

                .leftside{
                    margin-right: 20px;

                }
                .box{
                    margin-bottom: 20px;
                    min-width: 50%;

                    

                    a{
                        padding: 0.5rem;
                        font-size: .9em;
                    }
                }
            }

        }
    }
    .mainLeft{
        width: 100%;
        height: auto;
    }
}





/* ---------------------------------------------Policies--------------------------------- */

.sec-center {
  position: relative;
  /* margin-top: 45px; */
  /* margin-bottom: 30rem; */
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  /* background-image: url('https://assets.codepen.io/1462889/moon.svg'); */
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #48dbfb;
  /* background-image: url('https://assets.codepen.io/1462889/sun.svg'); */
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}
.light-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg'); */
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #850000;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: #000000;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

.section-dropdown{
    a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}

.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}
a:hover {
  color: #ffffff;
  background-color: #a80f0f;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #c92424;
  background-color: #ffffff;
}
a .uil {
  font-size: 22px;
}}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: #102770;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color: #ffeba7;
  background-color: #102770;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}
.logo {
	position: fixed;
	top: 50px;
	left: 40px;
	display: block;
	z-index: 11000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
	transition: all 250ms linear;
}
.logo:hover {
  background-color: transparent;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  transition: all 200ms linear;
}
.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}

@media screen and (max-width: 991px) {
.logo {
	top: 30px;
	left: 20px;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  top: 20px;
  right: 20px;
}
}

@media screen and (max-width:450px){
  .dropdown:checked + label,
.dropdown:not(:checked) + label{
  width: 150px;

}
}